<!DOCTYPE html>
<html>
<head>

	<title><%=@page_title%></title>
	<link rel="stylesheet" type="css" href="/css/style.css">
</head>
<body>

	<nav>
		<p>Nav:
			<a href="/items">Item List</a>
			<a href="/items/add">Add Items</a>
		</p>
	</nav>

	<h1 id="app-name">Awesome site!</h1>

	<% if session[:message] %>
		<p class="msg">
			<%= session[:message] %>
		</p>
		<% session[:message] = nil
	end %>

	<%=yield%>

	<small> Thanks for using this site. This 'footer' is on the main layout.erb and will appear on all the pages. </small>

</body>
</html>