<!DOCTYPE html>
<html>
<head>
	<title><%=@page_title%></title>
</head>
<body>

	<nav>
		<p style="display: inline-block;">Nav:
			<a href="/items">Item List</a>
			<a href="/items/add">Add Items</a>
		</p>
	</nav>

	<h1 style="border: 1px solid red; border-radius: 5px;" id="app-name">Awesome site!</h1>

	<%=yield%>

	<small> Thanks for using this site. This 'footer' is on the main layout.erb and will appear on all the pages. </small>

</body>
</html>